<div class="task-list-container">
    <div *ngFor="let task of tasks">
        <mat-card>
            <span [ngClass]="{'strikethrough' : task.status==='complete'}">{{task.name}}</span>
            <span *ngIf="task.status==='complete'">
                <button mat-mini-fab><mat-icon>undo</mat-icon></button> 
                <button mat-mini-fab><mat-icon>delete</mat-icon></button> 
            </span>
            <button *ngIf="task.status==='to do'" mat-mini-fab><mat-icon>check</mat-icon></button> 
        </mat-card>
    </div>
</div>
    